<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crear Alumno</title>
  </head>
  <body>
    <div class="container">
      <h1>Crear Usuario</h1>

      <form action="/crear" method="POST">
        <input type="text" placeholder="Ingrese userId" name="idUser" />

        <input
          type="text"
          placeholder="Ingrese Nombre de minecraft"
          name="nickMc"
        />

        <button type="submit">Agregar</button>
      </form>
    </div>
  </body>
</html>
